.home-main {
    height: 100%;
    width: 100%;
    flex-direction: column
    ;
}
.heading1{
    height: 15%;
    font-size: x-large;
    width: 35em;
    margin-left: -15em;
}
.heading2 {
    height: 15%;
    font-size: x-large;
    width: 69%;
    padding-left: 13em;
}