.main{
    height: 100%;
    width: 100%;
}
.sidebar-main {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}
.right-side{
    width: 80%;
    height: 100%;
}
.logo {
    height: 13%;
    width: 100%;
    /* background-color: aquamarine; */
    /* align-items: end; */
    justify-content: flex-start;
}
.logo-img {
    height: 100%;
}
.sidebar-content {
    flex-direction: column;
    /* background-color: antiquewhite; */
    height: 60%;
    width: 75%;
    justify-content: space-evenly;
}
.home, .student-info, .new-student, .course-detail, .fee-detail {
    height: 10%;
    width: 100%;
    gap: 0.5em;
    justify-content: start;
    /* padding-left: 1em; */
    transition: 1s;
    border-radius: 0.7em;
    /* background: aliceblue; */
    cursor: pointer;
}
.padding{
    padding-left: 1em;
}
.home:hover, .home:active, .student-info:hover, .new-student:hover, .course-detail:hover, .fee-detail:hover{
    background-color: #D9D9D9;
    transition: 1s;
    box-shadow: 4px 4px 4px rgb(0 0 1 /25%);
    
}
.show{
    background-color: #D9D9D9;
    transition: 1s;
    box-shadow: 4px 4px 4px rgb(0 0 1 /25%);
}
.hide{
    background-color: transparent;
}
.sidebar-profile {
    gap: 1em;
    height: 35%;
    width: 100%;
    align-items: end;
}
.profile-pic {
    height: 10%;
}
#active{
    background-color: #D9D9D9;
    box-shadow: 4px 4px 4px rgb(0 0 1 /25%);
}