.fees-main {
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.heading-fees{
    height: 15%;
    width: 100%;
}
.search-fees {
    height: 15%;
    /* background-color: aquamarine; */
    width: 30%;
    position: relative;
}
.fees-search-content.flex {
    box-shadow: 3px 2px 5px grey;
    height: 40%;
    background-color: #ffffff;
    width: 100%;
    border-radius: 5em;
    justify-content: space-evenly;
}
.search-fee-input  {
    border: none;
    outline: none;
    height: 100%;
    width: 80%;
}
.fees-bill.flex {
    height: 70%;
    width: 50%;
    background: aliceblue;
}