.stdinfo-main {
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.studentinfi-head.flex {
    height: 10%;
    /* background-color: aliceblue; */
}
.student-search-input {
    height: 20%;
    /* background-color: aquamarine; */
    width: 30%;
    position: relative;
}
.stdinfo-search-content.flex {
    box-shadow: 3px 2px 5px grey;
    height: 30%;
    background-color: #ffffff;
    width: 100%;
    border-radius: 5em;
    justify-content: space-evenly;
}
.search-input  {
    border: none;
    outline: none;
    height: 100%;
    width: 80%;
}
.searched-content {
    height: 70%;
    /* background-color: antiquewhite; */
    width: 100%;
    position: relative;
    /* bottom: 0; */
}
.dropbox{
  height: 20em;
  width: 100%;
  
}
.drop-down {
  position: absolute;
  height: 22em;
  width: 100%;
  top: 5.7em;
  border-radius: 2em;
  background-color: #ffffff;
  border-radius: 2em;
  z-index: 1;
  /* overflow: scroll; */
}
.details {
  background-color: #ffffff;
  height: 2em;
  /* border-bottom: 1px solid #bbbbbb; */
  justify-content: flex-start;
  padding-left: 1em;
  cursor: pointer;
  border-radius: 1em;
  /* overflow: scroll; */
}
.content-details{
    position: absolute;
}
.std-content {
    position: absolute;
    right: 5em;
}
.v {
    flex-direction: column;
}
.boxx {
    height: 4em;
    width: 12em;
    background-color: #BABABA;
    border-radius: 1em;
    flex-direction: column;
    position: absolute;
}
.enroll{
    animation: enroll2 1s ease-out 1;
    transform: rotate(-180deg) translateX(20em) translateY(7em) rotate(180deg);
}
.sem{
    animation: sem 1.4s ease-out 1;
    transform: rotate(180deg) translateX(-20em) translateY(-4em) rotate(-180deg);
    
}
.course{
    animation: course 1.8s ease-out 1;
    transform: rotate(160deg) translateX(-19em) translateY(3em) rotate(-160deg);
}
.dept{
    animation: dept 2.2s ease-out 1;
    transform: rotate(160deg) translateX(-16em) translateY(-21em) rotate(-160deg);
}
.city{
    animation: city 2.6s ease-out 1;
    transform: rotate(-160deg) translateX(23em) translateY(-15em) rotate(160deg);
    
}
.fees-paid{
    animation: fees-paid 3s ease-out 1;
    transform: rotate(160deg) translateX(5em) translateY(-10em) rotate(-160deg);
    
}
.bus-facility {
  animation: bus-facility 3.4s ease-out 1;
  transform: rotate(-160deg) translateX(11em) translateY(-19em) rotate(160deg);
}
.contact{
    animation: contact 3.8s ease-out 1;
    transform: rotate(160deg) translateX(3em) translateY(5em) rotate(-160deg);

}
@keyframes enroll2 {
  0% {
    transform: rotate(0deg) translateX(0) rotate(0deg);
  }
  100% {
    transform: rotate(-180deg) translateX(20em) translateY(7em) rotate(180deg);
  }
}
@keyframes sem {
  0% {
    transform: rotate(0deg) translateX(0) rotate(0deg);
  }
  100% {
    transform: rotate(180deg) translateX(-20em) translateY(-4em) rotate(-180deg);
  }
}
@keyframes course {
  0% {
    transform: rotate(0deg) translateX(0) translateY(0) rotate(0deg);
  }
  100% {
    transform: rotate(160deg) translateX(-19em) translateY(3em) rotate(-160deg);
  }
}
  
@keyframes dept {
  0% {
    transform: rotate(0deg) translateX(0) translateY(0) rotate(0deg);
  }
  100% {
    transform: rotate(160deg) translateX(-16em) translateY(-21em) rotate(-160deg);
  }
}
@keyframes city {
  0% {
    transform: rotate(0deg) translateX(0) translateY(0) rotate(0deg);
  }
  100% {
    transform: rotate(-160deg) translateX(23em) translateY(-15em) rotate(160deg);
  }
}
@keyframes fees-paid {
  0% {
    transform: rotate(0deg) translateX(0) translateY(0) rotate(0deg);
  }
  100% {
    transform: rotate(160deg) translateX(5em) translateY(-10em) rotate(-160deg);
  }
}
@keyframes bus-facility {
  0% {
    transform: rotate(0deg) translateX(0) translateY(0) rotate(0deg);
  }
  100% {
    transform: rotate(-160deg) translateX(11em) translateY(-19em) rotate(160deg);
  }
}
@keyframes contact {
  0% {
    transform: rotate(0deg) translateX(0) translateY(0) rotate(0deg);
  }
  100% {
    transform: rotate(160deg) translateX(3em) translateY(5em) rotate(-160deg);
  }
}

  